<section style="background-color: black">
  <h1>Background</h1>
  <p>Tools, Schemas, and the Semantic Web</p>
</section>
<section>
  <h2>Tools</h2>
  <p>In this webinar we will be using the <a href="http://www.python.org/">Python</a>
   and <a href="#">Javascript</a> programming languages.   </p>
  <p>We will be using the following Python modules:</p>
  <ul>
    <li><a href="http://lxml.de/">lxml</a></li>
    <li><a href="https://pypi.python.org/pypi/pymarc">PyMARC</a></li>
    <li><a href="https://github.com/RDFLib/rdflib/">RDFLib</a></li>
    <li><a href="{{ url_for('resources') }}#jinja">Jinja</a></li>
  </ul>
  <p>We will also be using the following Javascript libraries and frameworks</p>
  <ul>
    <li><a href="#">jQuery</a></li>
    <li><a href="#">Knockout.js</a></a>
  </ul>
</section>
<section>
  <section><h2>Schemas, Formats, and Structured Data</h2></section> 
  <section>
    <h3>Schemas</h3>
    <ul>
      <li>
       <a href="http://schema.org/">Schema.org</a> with extension efforts by
       <a href="http://www.w3.org/community/schemabibex/wiki/Main_Page">Schema Bib 
       Extend Community Group</a>
      </li>
      <li>
       <a href="http://dublincore.org/">Dublin Core Metadata Initiative</a>
      </li>
      <li>
       <a href="http://bibframe.org/">BIBFRAME</a>
      </li>
      <li>
       <a href="http://www.loc.gov/standards/mods/">MODS (Metadata Object Description Schema</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Formats</h3>
    <ul>
     <li>
       <a href="http://loc.gov/marc/">MARC Standards</a>
       <ul>
        <li><a href="http://www.loc.gov/marc/bibliographic/ecbdhome.html">Bibliographic data</a></li>
        <li><a href="http://www.loc.gov/marc/authority/ecadhome.html">Authority data</a></li>
     </li>
    </ul>
  </section>
  <section>
    <h3>Structured Data</h3>
    <ul>
     <li><a href="#">RDF (Resource Description Framework)</a>
       <ul>
        <li><a href="#">RDF XML</a></li>
        <li><a href="#">RDF N-triples</a></li>
        <li><a href="#">RDF Turtle</a></li>
       </ul>
     </li>
     <li><a href="#">RDFa</a></li>
     <li><a href="#">Microdata</a></li>
     <li><a href="#">JSON Linked Data</a></li>
     </li>
    </ul>  
  </section>
</section>
