<section>
  <h1>Background</h1>
  <p>Tools, Schemas, and the Semantic Web</p>
</section>
<section>
  <h2>Tools</h2>
  <p>In this webinar we will be using the <a href="http://www.python.org/">Python</a>
   programming language along with the following Python modules:
  </p>
  <ul>
    <li><a href="https://pypi.python.org/pypi/pymarc">PyMARC</a></li>
    <li><a href="https://github.com/RDFLib/rdflib/">RDFLib</a></li>
  </ul>
</section>
<section>
  <section><h2>Schemas, Formats, and Structured Data</h2></section> 
  <section>
    <h3>Schemas</h3>
  </section>
  <section>
    <h3>Formats</h3>
  </section>
  <section>
     <h3>Structured Data</h3>
  </section>
</section>
