{% extends 'other.html' %}

{% block more_css %}
 .display-open-badge {
   display: block;
   float: left;
   height: 80px;
   width: 300px;
   background-image: url({{ url_for('static', filename="img/open-badge-logo.png") }});
   background-repeat: no-repeat;
   background-position: 0px 0px;
 }
{% endblock %}

{% block main %}
<div class="container">
<h1>Earn your Open Badge</h1> 
<p >
<a href="http://openbadges.org"><span class="display-open-badge"></span></a>
 Upon completion of this webinar, you have the opportunity to earn either
 a Gold, Silver, or Bronze <a href="http://openbadges.org/">Open Badge</a> indicating your competency and familiarity 
 with using Linked Data with MARC records. By registering and
 attending this webinar you automatically earned your Bronze Badge that you can
 receive by sending an email to 
 <a href="mailto:jeremy.nelson@coloradocollege.edu">Jeremy Nelson</a> and creating an 
 <a href="http://backpack.openbadges.org/backpack/login">Mozilla Open Badge Backpack</a> Account.
</p>
<h2>Earning your Silver or Gold Badge</h2>
<p>
 You need to answer correctly 60% of the badge assessments for a silver.
 To earn a Gold Badge you need to answer correctly 87% of the badge assessments. All badge assessments
 are in the webinar's IPython notebook, url down below.
</p> 
<h3>Software Prerequisites</h3>
<p>
 Please see directions on the <a href="{{ url_for('downloads') }}">downloads</a> page.
 </p>
<h3>Step-by-Step</h3>
<p> If you wish to earn a Silver Badge or Gold Badge, follow these steps
 <ol>
  <li>Visit the <a href="{{ url_for('downloads') }}">downloads</a> and install IPython and dependencies.</li> 
  <li>Create an <a href="http://backpack.openbadges.org/backpack/login">Mozilla Open Badge Backpack</a> Account</li>
  <li>Copy the webinar's
   <a href="https://github.com/jermnelson/lita-library-linked-data/blob/master/LITALinkedData.ipynb">IPython notebook</a>
   to a local directory on your computer. 
  </li>
  <li>Run the examples and answer all of the questions in you own copy of the notebook.</li>
  <li>After you have entered all of you answers, save the 
   notebook and then email it as an attachment to <a href="mailto:jeremy.nelson@coloradocollege.edu">Jeremy Nelson</a> who will grade your notebook
   and email you a link to your badge and your graded IPython notebook. 
  </li>
  <li>The email will contain directions for registering your badge in your Open Badge Backpack</li>
 </ol>
</p>
</div>
<div class="container">
 <div class="row">
  <div class="col-md-4">
   <h2 style="text-align: center">Bronze Badge</h2>
   <img class="img-thumbnail" src="{{ url_for('static', filename="img/bronze-badge-template.png") }}">
   <p class="alert alert-success">
    The Bronze Badge is earned by attending the <em>Coding Experiments with MARC and  
    Linked Data</em> in the LITA Linked Data Webinar Series. 
   </p>
  </div>
  <div class="col-md-4">
   <h2 style="text-align: center">Silver Badge</h2>
   <img class="img-thumbnail" src="{{ url_for('static', filename="img/silver-badge-template.png") }}">
   <p class="alert alert-info">
    The Silver Badge is earned by scoring over 60% on the badge assessments.
   </p>
  </div>
  <div class="col-md-4">
   <h2 style="text-align: center">Gold Badge</h2>
   <img class="img-thumbnail" src="{{ url_for('static', filename="img/gold-badge-template.png") }}">
   <p class="alert alert-warning">
    Earn your Gold Badge by scoring over 87% on the badge assessments.
   </p>
  </div>
 </div>
 <hr>
</div>
{% endblock %}
