<section  style="background-color: black">
  <h1>Experiment #1</h1>
  <p class="lead">Extracting Tuples from MARC21 and MARCXML</p>
</section>
<section>
  <section>
    <h2>MARC21</h2>
    <p class="lead">MARC21 is a binary format developed by the Library of 
     Congress. Dealing with the raw MARC21 can be challenging because MARC21
     combines both fixed-length and variable length fields. Fortunately a 
     number of open-source libraries exist for manipulating MARC21 records that
     hides some of the complexity behind the format.
     First we will use Ed Summer's <a href="#">PyMARC</a> module for coding
     experiment.
    </p>
  </section>
  <section class="task">
   <h3>Task #1 -- Reading MARC21 file</h3>
   <pre>
    $ >> import pymarc
    $ >> marc_records = []
    $ >> with open('E:\\training\\marc-sample.mrc') as marc_file:
    $ >>     marc_reader = pymarc.MARCReader(marc_file)
    $ >>     for record in marc_reader:
    $ >>         marc_records.append(record)
   </pre>
   <p class="lead">
     Badge Assessment:
   </p>
   <ol>
     <li>How many MARC records are in the list <code>marc_records</code>?</li>
     <li>Describe what happens when you execute the following code snippet:
      <pre>
       $ >> print(marc_records[1])
      </pre>
   </ol>
  </section>
  <section class="task">
   <h3>Task #2 -- Retrieving Data</h3>
   <pre>
     $ >> print(marc_records[0].title())
     $ >> 'Pride and Prejudice'
     $ >> print(marc_records[0]['245'])
     $ >> '256 $a|Pride and Prejudice'
   </pre>
   <p class="lead">
    Badge Assessment:
   </p>
   <ol>
    <li>What is the title for record 6 in <code>marc_records</code>?
     (remember python lists start with a 0 index)</li>
    <li>What is the isbn for record 6?</li>
   </ol>
  </section>
</section>
<section>
  <section>
    <h2>MARCXML</h2>
    <p>MARCXML is a framework developed by the Library of Congress to work with MARC21 data 
       format serialized into XML. We will use a <a href="{{ url_for('resources') }}#rdflib">rdflib</a> and the standard Python 
       XML library to experiement with this format</p>
  </section>
  <section class="task">
   <h3>Task #1 -- Parsing MARCXML</h3>
   {% raw %}
   <pre>
     $ >> from rdflib import Namespace
     $ >> from lxml import etree
     $ >> marc_ns = Namespace('http://www.loc.gov/MARC21/slim')
     $ >> marc_xml = etree.parse('E:\\training\\marc-sample.xml')
     $ >> marc_records = marc_xml.findall('/{{{0}}}record'.format(marc_ns))
   </pre>
   {% endraw %}
   <p class="lead">
     Badge Assessment:
   </p>
   <ol>
     <li>How many <code>&lt;marc:record&gt;...&lt;/marc:record&gt;</code> elements are in 
       the <code>marc_records</code> list?
     </li>
   </ol>
  </section>
  <section class="task">
   <h3>Task #2 -- Retrieving Data with XPath</h3>
   <p>
    Python's ElementTree implementation lacks complete XPath functionality so 
    we will use a more full-featured XML parser for Python called 
    <a href="{{ url_for('resources') }}#lxml">lxml</a>.  
   </p>
{% raw %}
   <pre>
     $ >> xpath_string = "/{{{0}}}record/{{{0}}}datafield[@tag='245']/".format(marc_ns)
     $ >> title_elements = marc_xml.findall(xpath_string)
     $ >> print(title_elements[0].text)
   </pre>
{% endraw %}
    <p class="lead">
     Badge Assessment:
   </p>
   <ol>
    <li>How could you improve the XPath {% raw %}<pre> "/{{{0}}}record/{{{0}}}datafield[@tag='245']/"</pre>{% endraw %}
        to just select the <i>a</i> subfields of the 245 field?
    </li>
   </ol>
  </section>
</section>
