<!DOCTYPE html>
<html>
  <head>
   {% include 'snippets/metadata.html' %}
    <!-- Bootstrap -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">	
   <style> 
 

   </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block header %}
     <div class="container" style="background-color: black">
      <img src="{{ url_for('static', filename='img/lita-logo.png') }}" style="float: left">
       <h3 style="color: white">LITA Linked Data Webinar Series</h3>
       <h2 style="color: white">Coding Experiments to transform MARC to Linked Data</h2>
 
     </div>
    {% endblock %}
    {% block main %}
    <h1>Webinar Other</h1>

    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>

