{% extends 'other.html' %}

{% block main %}
<div class="container">
 <h1>Resources</h1> 
 <h2>Articles &amp; Books</h2>
 <dl>
  {% for website in resources.articles_books %}
  {% include 'snippets/resource-brief.html' %}
  {% endfor %}
 </dl>
 <h2>Software</h2>
 <dl>
  {% for website in resources.software %}
  {% include 'snippets/resource-brief.html' %}
  {% endfor %}
 </dl>

 <h2>Websites</h2>
 <dl>
  {% for website in resources.websites %}
  {% include 'snippets/resource-brief.html' %}
  {% endfor %}
 </dl>
</div>
{% endblock %}
