{% extends 'other.html' %}

{% block main %}
<div class="container">
 <h1>Resources</h1> 
 <h2>Articles &amp; Books</h2>
 <dl>
  {% for website in resources.articles_books %}
  {% include 'snippets/resource-brief.html' %}
  {% endfor %}
 </dl>
 <h2>Software</h2>
 
 <dl>
  <dt><a href="https://pypi.python.org/pypi/pymarc">PyMARC</a></dt>
  <dd>Open-source MARC21 Python module by Ed Summers, source code available at
      <a href="https://pypi.python.org/pypi/pymarc"> https://pypi.python.org/pypi/pymarc</a>
  </dd>
  <dt><a href="http://www.python.org/">Python</a></dt>
  <dd>A popular programming language, website is <a href="http://www.python.org/">http://www.python.org/</a>
  <dt><a href="https://github.com/RDFLib/rdflib/">RDFLib</a></dt>
  <dd>
   RDF Python module, source code available at 
   <a href="https://github.com/RDFLib/rdflib/">https://github.com/RDFLib/rdflib/</a>
  </dd>
  <dt><a href="https://github.com/hakimel/reveal.js">Reveal</a></dt>
  <dd>Open-source presentation framework used for this webinar, available
     at <a href="https://github.com/hakimel/reveal.js">https://github.com/hakimel/reveal.js</a>
  </dd>
 </dl>
 <h2>Websites</h2>
 <dl>
  {% for website in resources.websites %}
  {% include 'snippets/resource-brief.html' %}
  {% endfor %}
 </dl>
</div>
{% endblock %}
