<section style="background-color: black">
  <h1>Background</h1>
  <p>Expected Outcomes, Tools, Schemas, and the Semantic Web</p>
</section>
<section>
 <section>
  <h2>Expected Outcomes for this Webinar</h2>
  <p>In this webinar we will be using the <a href="{{ url_for('resources') }}#python">Python</a>
   and <a href="{{ url_for('resources') }}#javascript">Javascript</a> programming languages to 
   manipulate <a href="{{ url_for('resources') }}#marc-bibliographic">MARC21</a> and
   <a href="{{ url_for('resources') }}#marcxml">MARCXML</a> into 
   <a href="{{ url_for('resources') }}#bibframe">BIBFRAME</a>, 
   <a href="{{ url_for('resources') }}#dublin-core">Dublin Core</a>, and 
   <a href="{{ url_for('resources') }}#schema-org">Schema.org</a> graphs made-up of 
   <a href="{{ url_for('resources') }}#rdf-triples">RDF triples</a> in order
   to expose this linked data in the form of <a href="{{ url_for('resources') }}#rdf-xml">RDF xml</a>,
   <a href="{{ url_for('resources') }}#rdf-n-triples">RDF N-triples</a>,
   <a href="{{ url_for('resources') }}#rdfa">HTML5 RDFa</a>, 
   <a href="{{ url_for('resources') }}#microdata">HTML5 microdata</a>, and
    <a href="{{ url_for('resources') }}#json-ld">JSON Linked Data</a>.
  </p>
 </section>
 <section>
  <h2>We will be using the <br>following Tools</h2>
  <div class="row"> 
   <div class="col-md-6">
    <p>Python modules:</p>
    <ul>
     <li><a href="{{ url_for('resources') }}#flask">Flask</a></li>
     <li><a href="{{ url_for('resources') }}#jinja">Jinja2</a> (part of Flask)</li>
     <li><a href="{{ url_for('resources') }}#lxml">lxml</a></li>
     <li><a href="{{ url_for('resources') }}#pymarc">PyMARC</a></li>
     <li><a href="{{ url_for('resources') }}#rdflib">RDFLib</a></li>
    </ul>
   </div>
   <div class="col-md-6">
    <p>Javascript libraries and frameworks:</p>
    <ul>
     <li><a href="{{ url_for('resources') }}#bootstrap">Bootstrap</a></li>
     <li><a href="{{ url_for('resources') }}#jquery">jQuery</a></li>
     <li><a href="{{ url_for('resources') }}#knockout-js">Knockout.js</a></a>
    </ul>
   </div>
  </div>
 </section>
</section>
<section>
  <section><h2>Schemas, Formats, and Structured Data</h2></section> 
  <section>
    <h3>Schemas</h3>
    <ul>
      <li>
       <a href="{{ url_for('resources') }}#schema-org">Schema.org</a> with extension efforts by
       <a href="{{ url_for('resources') }}#schema-bib-extend-community-group">Schema Bib 
       Extend Community Group</a>
      </li>
      <li>
       <a href="{{ url_for('resources') }}#dublin-core">Dublin Core Metadata Initiative</a>
      </li>
      <li>
       <a href="{{ url_for('resources') }}#bibframe">BIBFRAME</a>
      </li>
      <li>
       <a href="{{ url_for('resources') }}#mods">MODS (Metadata Object Description Schema)</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Formats</h3>
    <ul>
     <li>
       <a href="{{ url_for('resources') }}#marc/">MARC Standards</a>
       <ul>
        <li><a href="{{ url_for('resources') }}#marc-bibliographic">Bibliographic data</a></li>
        <li><a href="http://www.loc.gov/marc/authority/ecadhome.html">Authority data</a></li>
     </li>
    </ul>
  </section>
  <section>
    <h3>Structured Data</h3>
    <ul>
     <li><a href="#">RDF (Resource Description Framework)</a>
       <ul>
        <li><a href="#">RDF XML</a></li>
        <li><a href="#">RDF N-triples</a></li>
        <li><a href="#">RDF Turtle</a></li>
       </ul>
     </li>
     <li><a href="#">RDFa</a></li>
     <li><a href="#">Microdata</a></li>
     <li><a href="#">JSON Linked Data</a></li>
     </li>
    </ul>  
  </section>
</section>
