<section>
  <div style="background-color: black">
   <div class="row">
    <div class="col-md-2"><img src="{{ url_for('static', filename='img/lita-logo.png') }}" style="height: 50px;border: none"></div>
    <div class="col-md-10"><p>LITA Linked Data Webinar Series</p></div>
   </div>
  </div>
   <h2>Coding Experiments to Transform MARC to Linked Data</h1>
  <h3>January 14th, 2014</h3>
  <p>
   <small><strong>Instructor</strong>: Jeremy Nelson<br>
          Metadata and Systems Librarian<br>
          <a href="http://www.coloradocollege.edu/library">Tutt Library, Colorado College</a></small>
  </p>
  <div class="btn-group">
   <button onclick="window.location.href='/resources'" class="btn btn-default btn-lg">Resources</button>
   <button onclick="window.location.href='/badge'" class="btn btn-default btn-lg">Open Badge</a>
  </div>
</section>
<section>
  <section>
   <h3>About the Instructor</h3>
   <img style="float:right" src="{{ url_for('static', filename='img/jeremy-nelson-nov-2013.png') }}">
   <p style="font-size: .8em">Jeremy Nelson is the Metadata and Systems Librarian at Colorado College, 
      a small private liberal-arts
      located in Colorado Springs, Colorado. His previous library professional jobs included Western State University 
      of Colorado and the University of Utah. Prior to earning his Master of Science in Library and Information
      Science from the University of Illinois at Urbana-Champaign, Nelson worked as a programmer and project manager at
      a number of different software companies in the financial services and educational sectors.
  </section>
  <section>
   <h3>Contact Information</h3>
   <address>
     <strong>Tutt Library</strong><br>
     1021 N. Cascade Avenue<br>
     Colorado Springs, Colorado 80903-3252<br>
     <a href="mailto:jeremy.nelson@coloradocollege.edu">Jeremy.Nelson@coloradocollege.edu</a><br>
     <a href="https://twitter.com/jermnelson">@jermnelson</a>
   </address>
  </section>
{# END Vertical Slides #}
</section>
 

