<section>
  <p>LITA Linked Data Webinar Series</p>
  <h2>Experiements in Transforming MARC to Linked Data</h1>
  <h3>January 14th, 2014</h3>
  <p>
   <small><strong>Instructor</strong>: Jeremy Nelson<br>
          Metadata and Systems Librarian<br>
          <a href="http://www.coloradocollege.edu/library">Tutt Library, Colorado College</a></small>
  </p>
  <div class="btn-group">
   <button onclick="window.location.href='/resources'" class="btn btn-default btn-lg">Resources</button>
   <button onclick="window.location.href='/badge'" class="btn btn-default btn-lg">Open Badge</a>
  </div>
</section>
<section>
  <section>
   <h3>About the Instructor</h3>
  </section>
  <section>
   <h3>Contact Information</h3>
  </section>
{# END Vertical Slides #}
</section>
 

